.container-singlecity {
    color: white;
    margin-top: 20px;
}

.title-singlecity {
    text-align: center;
    font-size: 30px;
}

.card-singlecity {
    padding: 45px 20px;
    background-color: #1E213A;
    border: 10px solid #100E1D;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-singlecity {
    text-align: center;
}
